<app-navbar></app-navbar>

<app-user-sidebar></app-user-sidebar>
<div class="stagiaires-container">
  <h2>Stagiaires List</h2>
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>RH Name</th>
        <th>Stage Title</th>
        <th>Encadrant Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th> <!-- Added Actions column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stagiaire of stagiaires">
        <td>{{ stagiaire.lastname }}</td>
        <td>{{ stagiaire.email }}</td>
        <td>{{ stagiaire.phoneNumber }}</td>
        <td>{{ stagiaire.rhName }}</td>
        <td>{{ stagiaire.stageTitle }}</td>
        <td>{{ stagiaire.encadrantName }}</td>
        <td>{{ stagiaire.startDate | date: 'shortDate' }}</td>
        <td>{{ stagiaire.endDate | date: 'shortDate' }}</td>
        <td>
          <!-- Note and Comment Form -->
          <div *ngIf="selectedApplicationId === stagiaire.applicationId">
            <form (ngSubmit)="addNoteToStagiaire(stagiaire.applicationId)" class="feedback-form">
              <div class="form-group">
                <input [(ngModel)]="note" name="note" type="number" placeholder="Note" required class="form-control">
              </div>
              <div class="form-group">
                <input [(ngModel)]="comments" name="comments" type="text" placeholder="Comments" required class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="cancelFeedback()">Cancel</button>
            </form>
          </div>
          <button *ngIf="selectedApplicationId !== stagiaire.applicationId" (click)="setFeedbackFields(stagiaire.applicationId)">Add Note</button>
          <a [href]="'mailto:' + stagiaire.email" class="email-button">Send Email</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Pagination -->
  <nav *ngIf="stagiaires.length > pageSize" aria-label="Stagiaires pagination" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()">Previous</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>
