.stagiaires-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #87CEEB; /* Sky Blue */
  }
  
  thead th {
    padding: 10px;
    text-align: left;
    color: #fff;
    border-bottom: 2px solid #ddd;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .email-button {
    background-color: #87CEEB; /* Sky Blue */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .email-button:hover {
    background-color: #00BFFF; /* Deep Sky Blue */
  }
  
  .pagination-container {
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 5px 10px;
    color: #87CEEB; /* Sky Blue */
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .page-link:hover {
    background-color: #87CEEB; /* Sky Blue */
    color: #fff;
  }
  